body{
    background-color: black;
}
.titolo{
    color: blueviolet;
    size: 40px;
    font-family: 'Monoton', cursive;
    text-align: center;
}
.botRic{
    color: blueviolet;
}
.sfondo{
    background-color: black;
}
.film{
    color: blueviolet;
}
.nav{
    background-color: black;
}
.pos {
    text-align: center;
}
.n{
    color:blueviolet;
    text-align: center;
}
H5{
    text-align: center;
    color: blueviolet;
}
.clicca{
    background-color: white;
    color: blueviolet;
    text-align: center;
    left:22.5;
    right:22.5;
}
.imm:hover{
   
      opacity: 0.4;
      border-radius: 100px 100px 100px 100px;       
    
}
.ricerca{
    background-color: black;
}
.prop{
    color: blueviolet;
}
.prop2{
    color: white;
    font-size: 15px;
}
.rotellina{
    display: none;
}
.pagF{

    text-align: center;
}
.CER{
    background-color: white;
    color: blueviolet;
}

.migl{
    overflow: hidden;
    background-color: blueviolet;

}
.sfondo{
    background-color: black;
}
.bottone{

    background-color: black; 
    color: blueviolet; 
    font-size: 30px; 
    font-family: 'Monoton', cursive;
  
    
    
}
.centra{
    display: flex;
    justify-content: center;

    align-items: center;
   

}
.centra1{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.colore{
    background-color: black;
    
}


.botton{
    background-color: mediumpurple; 
    color: black; 
    font-size: 17px; 
    font-family: 'Monoton', cursive;
    text-decoration: none;   
    
}
.colorB{
    color:white;
}
.info{
    color:blueviolet ;
    font-size: 25px ;
    font-family: 'Fascinate', cursive;
    text-align: center;
}
.imm{
    float:left;
   width:50%;
   padding-top: 80px;
   padding-bottom: 80px;
   padding-left:20px;
    
}
.info{
    float:right;

    padding-top: 80px;
    padding-bottom:80px;

}
.ricLing{
    position:absolute;
    right:70px;
}

.titHome{
    color:mediumpurple;
    font-family: 'Monoton', cursive;
}
.ling{
    float:right;
    color:mediumpurple;
}
